<a href="https://colab.research.google.com/github/jzyee/water_stress_proj/blob/master/correlation_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this file is for checking the correlation of the type of climate data available

In [1]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
% cd /content/gdrive/'My Drive'/water_stress_detection

/content/gdrive/My Drive/water_stress_detection

In [3]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from IPython.core.pylabtools import figsize
figsize(14, 6)
import statsmodels as sm
from statsmodels.tsa.statespace.structural import UnobservedComponents
from statsmodels.tsa.arima_process import ArmaProcess
#from causalimpact import CausalImpact
import datetime as dt
from matplotlib import pyplot
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot 
#from statsmodels.tsa.seasonal import STL
import plotly.tools as tls
import math
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# E-OBS

In [4]:
! ls data_files/monthly_means

monthly_mean_pp_EBTRN.csv  monthly_mean_tg_EBTRN.csv  monthly_mean_tx_EBTRN.csv
monthly_mean_rr_EBTRN.csv  monthly_mean_tn_EBTRN.csv

In [ ]:
climate_data_path = 'data_files/monthly_means/'


def combine_eob(site_id):
  type_list = ['pp', 'rr', 'tg', 'tn', 'tx']

  folder_path = 'data_files/monthly_means/'

  # file naming convention
  # file_cov = 'wind_monthly_'
  # file_name = 'SWIT345'

  start_name_cov = 'monthly_mean_'
  end_name_cov = '_EBTRN'

  out_df = None

  for idx, data_type in enumerate(type_list):
    file_path = folder_path + start_name_cov + data_type + end_name_cov + '.csv'
    if idx == 0:
      df = pd.read_csv(file_path, parse_dates=True).set_index(['Date'])[[site_id]]
      df = df.rename(columns={site_id: data_type})
    
    else:
      df[data_type] = pd.read_csv(file_path, parse_dates=True).set_index(['Date'])[site_id]

  
  return df

def climate_ndvi_corr(site_id):
  harm_df = pd.read_csv('data_files/processed_harm_ndvi.csv', parse_dates=True)
  harm_df.index = pd.to_datetime(harm_df.iloc[:,0], format='%Y-%m-%d') 
  harm_df = harm_df.iloc[:,1:]
  harm_df.index.name = 'Date'
  # filter out the useable dates
  harm_df = harm_df.loc[(harm_df.index > '1986') & (harm_df.index < '2019')]
  # get the climate data
  df = combine_eob(site_id)
  df = df.loc[(df.index > '1986') & (df.index < '2019')]

  df['ndvi'] = harm_df[site_id]
  return df.corr()[['ndvi']]

site_id_list = ['SWIT345', 'E45']


for site_id in site_id_list:
  harm_df = pd.read_csv('data_files/processed_harm_ndvi.csv', parse_dates=True)
  harm_df.index = pd.to_datetime(harm_df.iloc[:,0], format='%Y-%m-%d') 
  harm_df = harm_df.iloc[:,1:]
  harm_df.index.name = 'Date'
  # filter out the useable dates
  harm_df = harm_df.loc[(harm_df.index > '1986') & (harm_df.index < '2019')]
  # get the climate data
  df = combine_eob(site_id)
  df = df.loc[(df.index > '1986') & (df.index < '2019')]

  df['ndvi'] = harm_df[site_id]
  display(df.corr())

            pp        rr        tg        tn        tx      ndvi
pp    1.000000 -0.443312 -0.346878 -0.349077 -0.332437 -0.275084
rr   -0.443312  1.000000  0.300026  0.330259  0.266517  0.319883
tg   -0.346878  0.300026  1.000000  0.996641  0.996979  0.836390
tn   -0.349077  0.330259  0.996641  1.000000  0.987969  0.848305
tx   -0.332437  0.266517  0.996979  0.987969  1.000000  0.822677
ndvi -0.275084  0.319883  0.836390  0.848305  0.822677  1.000000

            pp        rr        tg        tn        tx      ndvi
pp    1.000000 -0.286402 -0.285329 -0.309762 -0.261922 -0.107064
rr   -0.286402  1.000000 -0.241138 -0.200541 -0.272062 -0.027290
tg   -0.285329 -0.241138  1.000000  0.994028  0.996175  0.383863
tn   -0.309762 -0.200541  0.994028  1.000000  0.980807  0.368943
tx   -0.261922 -0.272062  0.996175  0.980807  1.000000  0.395342
ndvi -0.107064 -0.027290  0.383863  0.368943  0.395342  1.000000

In [ ]:
corr_df = None

for idx, site_id in enumerate(harm_df):
  if idx == 0:
    df = climate_ndvi_corr(site_id)
    if not df.isnull().values.any():
      corr_df = df.rename(columns={'ndvi': site_id})
  else:
    df = climate_ndvi_corr(site_id)
    if not df.isnull().values.any():
      corr_df[site_id] = df
    



corr_mean_df = corr_df.mean(axis=1)

# UK67 has no values
display(corr_df)
display(corr_mean_df)

         FMMOL       E12      ELFI  ...       AFO       M11        BB
pp   -0.224869  0.034679 -0.332238  ...  0.046352 -0.503661 -0.007700
rr   -0.114202 -0.004730 -0.005156  ... -0.099109 -0.041350  0.256310
tg    0.693024  0.507679  0.817982  ...  0.634079  0.844409  0.718958
tn    0.668603  0.491367  0.806903  ...  0.643164  0.841942  0.724535
tx    0.705383  0.523553  0.810650  ...  0.616912  0.836056  0.701686
ndvi  1.000000  1.000000  1.000000  ...  1.000000  1.000000  1.000000

[6 rows x 584 columns]

pp     -0.222893
rr      0.121058
tg      0.674579
tn      0.676189
tx      0.664390
ndvi    1.000000
dtype: float64

# writing the correlation dataframe to csv

In [ ]:
corr_df.to_csv('./correlation_data/corr_df.csv')

In [ ]:
corr_mean_df.to_csv('./correlation_data/corr_mean_df.csv')